<div>
  <img class="portfolio-icon" src="assets/images/froggerIcon.png" alt="">
  <div class="app-description">
    <br>
    <p><b>Mitwirkende:</b><br> Anna Van, Jasmin Seeliger, Jenny Tieu</p>
    <br><p><b>Projektart:</b><br> Uni-Projekt</p><br>
    <p><b>Beschreibung:</b> <br>Frogger ist eine auf Social-Media basierte App für Android. Dabei haben wir uns von
      derzeit viel
      genutzten Apps, wie Twitter und Facebook inspirieren lassen, um eine App mit frischem Konzept zu erstellen die,
      die
      gefragtesten Funktionen durchführen kann und für die neuere Generation attraktiv scheint.</p>

    <br>
    <p><b>Umsetzung mit:</b> <br>Visual Studio Coder, Expo CLI, React Native, JavaScript, Node.js</p><br>
    <img class="portfolio-image" src="assets/images/FroggerScreens.png" alt="">

  </div>
</div>