<div>
  <img class="portfolio-icon" src="assets/images/LuckyCatIcon.png" alt="">
  <div class="app-description">
    <br>
    <p><b>Mitwirkende:</b><br> Anna Van, Jasmin Seeliger, Jenny Tieu</p>
    <br>
    <p><b>Projektart:</b><br> Uni-Projekt</p><br>
    <p><b>Beschreibung:</b> <br>Lucky Cat ist eine Webseite für Figuren Sammler und wurde von verschiedenen
      Online-Shops, sowie Preisvergleich-Webseiten inspiriert. Mit Funktionen, wie das Abspeichern von Lieblingsfiguren
      bzw. Must-Haves, das Bewerten von Figuren und Preisvergleiche bei ausgewählten Shops, kann die Kaufentscheidung für Figuren-Liebhaber erleichtert
      werden. </p>

    <br>
    <p><b>Umsetzung mit:</b> <br>Visual Studio Code, Javascript, HTML, CSS und Node.js</p><br>
    <img class="portfolio-image" src="" alt="">

  </div>
</div>