<div>
    <img class="portfolio-icon" src="assets/images/RawrIcon.png" alt="">
    <div class="app-description">
      <br>
      <p><b>Mitwirkende:</b><br> Jasmin Seeliger, Jenny Tieu</p>
      <br><p><b>Projektart:</b><br> Uni-Projekt</p><br>
      <p><b>Beschreibung:</b> <br>RAWr ist eine für das Wahlpflicht Modul „Mobile Systeme“ entwickelte 
        Zeichenreferenz-App für Android. Die App soll Künstlern die Organisation von Zeichenreferenzen erleichtern, die für die 
        Kreation von neuen Kunstwerken nötig sind.
      <br>
      <p><b>Umsetzung mit:</b> <br>Visual Studio Code, Expo CLI, React Native, JavaScript, Node.js</p><br>
      <img class="portfolio-image" src="assets/images/rawrScreens.jpg" alt="">
    </div>
  </div>